.educationCard{
    height: 100px;
    /* background-image: linear-gradient(45deg,  rgb(0, 162, 255),rgb(0, 255, 106)); */
    background: #6f29f1;
    margin: 15px auto;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(250, 221, 59);
    /* box-shadow: 2px 2px 5px red; */
    color: white;
}
.h5-text{
    font-weight: bold;
}
/* .educationCard:hover{
    background-image: linear-gradient(45deg,#583d72,#ff8474);
    
} */