.footer-area{
    background-image: url(../../images/footer-bg.png);
    background-size: cover;
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
